.App {
  text-align: center;
}

.title {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  width: 80%;
  margin: auto;
  background-color: rgba(230, 211, 255, 0.5);
}

.chart {
  max-width: 800px;
  max-height: 800px;
  margin: auto;
}